<!-- <html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Caledon Daily Checklist</title>
</head>

<body>
    <header>
        <div class="headerImages">
            <img src="../Images/lafargeLogo.png" class="lafargeLogo">
            <img src="../Images/maintenanceLogo.PNG" class="maintenanceLogo">
        </div>
        <h1>Caledon Daily Checklist </h1>
        <h2>Dashboard</h2>
    </header>
    <div class="formInputs">
        <a href="https://caledon-lafarge.herokuapp.com/primaryChecklist">
            <button type="button" id="formConfirm" class="redirectButton">
                Primary Checklist
            </button>
        </a>
    </div>
    <div class="formInputs">
        <a href="https://caledon-lafarge.herokuapp.com/sandPlant1Checklist">
            <button type="button" id="formConfirm" class="redirectButton">
                Sand Plant 1 Checklist
            </button>
        </a>
    </div>
    <div class="formInputs">
        <a href="https://caledon-lafarge.herokuapp.com/sandPlant2Checklist">
            <button type="button" id="formConfirm" class="redirectButton">
                Sand Plant 2 Checklist
            </button>
        </a>
    </div>


</body>

<footer>
    <script src="../Public/js/collapsibleBar.js"></script>
    <script src="../Public/js/displayPrompt.js"></script>
    <script src="../Public/js/shortFunctions.js"></script>
    <script src="../Public/js/confirmation.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../Public/js/validation.js"></script>
    <script src="../Public/js/confirmation.js"></script>
    <script src="../Public/js/loader.js"></script>
</footer>

</html> -->